/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
auth.json
npm-debug.log
yarn-error.log
/.fleet

#editor files
/.idea
/.vscode

#system files
Homestead.json
Homestead.yaml
.phpunit.result.cache

#laravel specific files
/vendor
.env
.env.backup
.env.production
/public/.htaccess
/storage/*.key